[Unit]
Description=SSH tunnel service Pool
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ssh -qNn \
  -o ServerAliveInterval=30 \
  -o ServerAliveCountMax=3 \
  -o StrictHostKeyChecking=no \
  -o UserKnownHostsFile=/dev/null \
  -R 8072:192.168.1.9:8072 \
  root@app.manzada.net -p 2202
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
